server {
  listen 80;
  server_name {{ item.name }};
  include snippets/mage_http.conf;
}

server {
  listen 443 ssl http2;
  server_name {{ item.name }};
  {% for location in item.locations %}
  location {{ location.name }} {
    proxy_pass		{{ location.proxy_pass }};
    proxy_redirect	default;
    include		snippets/mage_proxyheaders.conf;
  }
  {% endfor %}
}
